* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lunasima', sans-serif;
    text-decoration: none;
}

/*Header*/


header{
    height: 95px;
    min-height: 110px;
}

.fondoHeader{
    background-color: #70d0df;
}

.logocar{
    height: 1.25rem;
}

#cuenta-carrito {
    background-color: brown;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 1.25rem;
    aspect-ratio: 1;
    text-align: center;
}



.logo{
    width: 220px;
}

.Titulo {
    text-align: center;
    color: black;
    margin: 25px auto 25px auto;
    font-family: fantasy;
    font-size: 40px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.product-info img {
    max-width: 100px;
    height: auto;
}

